@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/0xES5Sl_v6oyT7dAKuoniywlidHJgAgmTjOEEzwu1L8.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/u0_CMoUf3y3-4Ss4ci-VwbqoDFxW0sKUoJN81ZzAEu8.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/u0_CMoUf3y3-4Ss4ci-VwTdGNerWpg2Hn6A-BxWgZ_I.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/er-TIW55l9KWsTS1x9bTfmcbqnd1g9zt-QKibAzZSRA.ttf) format('truetype');
}
@font-face{font-family:"Ionicons";src:url("../fonts/ionicons-new/ionicons.eot?v=1.5.2");src:url("../fonts/ionicons-new/ionicons.eot?v=1.5.2#iefix") format("embedded-opentype"),url("../fonts/ionicons-new/ionicons.ttf?v=1.5.2") format("truetype"),url("../fonts/ionicons-new/ionicons.woff?v=1.5.2") format("woff"),url("../fonts/ionicons-new/ionicons.svg?v=1.5.2#Ionicons") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:Ionicons;src:url(../fonts/ionic/ionicons.eot?v=2.0.1);src:url(../fonts/ionic/ionicons.eot?v=2.0.1#iefix) format("embedded-opentype"),url(../fonts/ionic/ionicons.ttf?v=2.0.1) format("truetype"),url(../fonts/ionic/ionicons.woff?v=2.0.1) format("woff"),url(../fonts/ionic/ionicons.woff) format("woff"),url(../fonts/ionic/ionicons.svg?v=2.0.1#Ionicons) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:"Ionicons";src:url("../fonts/ionicons/ionicons.eot?v=2.0.0");src:url("../fonts/ionicons/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),url("../fonts/ionicons/ionicons.ttf?v=2.0.0") format("truetype"),url("../fonts/ionicons/ionicons.woff?v=2.0.0") format("woff"),url("../fonts/ionicons/ionicons.svg?v=2.0.0#Ionicons") format("svg");font-weight:normal;font-style:normal}